body {
    word-wrap: break-word;
    min-width: 360px;
    font-family: 'Helvetica';
    margin: 0;
}

.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
    outline: none; 
    text-decoration: none;
    color: white;
}

.btn.focus, 
.btn:focus, 
.btn:hover {
    color: white;
}

p {
    margin: 0;
}
