{
    "parser": "babel-eslint",
    "plugins": ["jest"],
    "rules": {
        "max-len": [1, 120, 2, {"ignoreComments": true, "ignoreStrings": true}],
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": 0,
        "prefer-destructuring": ["error", {"object": false, "array": false}]
    },
    "globals": {
        "window": true,
        "browser": true
    },
    "extends": [
        "airbnb-base",
        "plugin:jest/recommended"
    ]
}