.results-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 15%;
    background-color: #dfdede;
    font-weight: 700;
    font-size: 14px;

    .results-sort {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p:nth-child(2) {
            margin: 0 15px;
        }

        .rating {
            color: #e64242;
        }
    }
}