@import '../../mixins.scss';

.film-item {
    width: 15%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;

    .card {
        display: flex;
        flex-direction: column;
        border: none;

        .card-title {
            color: $red;
        }

        img {
            width: 100%;
        }
    }

    .film-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px;
        margin: 0;
        font-weight: 700;
        
        div {
            margin-right: 10px;

            .title {
                margin-bottom: 8px;
                font-size: 12px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and ( max-width: $medium ) {
    .film-item {
        width: 30%;
        margin: 0 10%;
    }
}

@media screen and ( max-width: $small ) {
    .film-item {
        width: 70%;
        margin: 0 15%;
        margin-bottom: 20px;
    }
}