.film-item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    

    img {
        width: 150px;
        height: 250px;
    }

    .film-info {
        width: 140px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 5px;
        margin: 0;
        font-weight: 700;
        
        div {
            width: 100px;
            margin-right: 10px;

            .title {
                margin-bottom: 8px;
                font-size: 12px;
            }
    
            .genre {
                font-size: 9px;
            }
        }

        .year {
            width: 30px;
            padding: 2px 4px;
            border: 1px solid black;
            font-size: 10px;
            flex: 1;
        }
    }
}