@import "../../mixins.scss";

.full-film-item {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 20px;
    color: $white;

    img {
        width: 280px;
        height: 380px;
    }

    .full-film-info {
        flex: 1;
        padding-left: 50px;

         .title-and-rating {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-top: 50px;
                margin-bottom: 10px;
                

            .title {
                color: $red;
                font-size: 30px;
                margin-right: 15px;
                font-weight: 700;
            }

            .rating {
                padding: 5px;
                border: 1px solid $yellow;
                border-radius: 50%;
                color: $yellow;
                font-size: 18px;
            }
        }

        .year-and-time {
            margin-top: 10px;
            margin-bottom: 20px;
            font-weight: 700;

            .year {
                margin-right: 15px;
            }
        }

        .description {
            width: 400px;
            word-wrap: break-word;
        }

        .btn {
            font-weight: 700;
        }
    }
}

@media screen and ( max-width: $medium ) {
    .full-film-item {
        width: 250px;

        img {
            width: 250px;
            height: 300px;
        }
    
        .full-film-info {
            padding-left: 40px;
    
             .title-and-rating {
                    padding-top: 40px;
                    margin-bottom: 10px;
                    
                .title {
                    font-size: 24px;
                    margin-right: 10px;
                }
    
                .rating {
                    padding: 3px;
                    font-size: 14px;
                }
            }

            
            .description {
                width: 250px;
            }
        }
    }
}


@media screen and ( max-width: $small) {
    .full-film-item {
        flex-direction: column;
        font-size: 14px;
        align-items: center;
        justify-content: center;
    
        .full-film-info {
            padding-left: 0;
    
             .title-and-rating {
                    padding-top: 20px;
                    margin-bottom: 10px;
                    
                .title {
                    font-size: 18px;
                }
    
                .rating {
                    font-size: 12px;
                }
            }
        }
    }
}